FIREBASE_API_KEY=AIzaSyAQ-1Jp5Jmm4XoKh4Hj9hoV95HsOTKIiRM
FIREBASE_AUTH_DOMAIN=wordsmite-12b81.firebaseapp.com
FIREBASE_PROJECT_ID=wordsmite-12b81
FIREBASE_STORAGE_BUCKET=wordsmite-12b81.appspot.com
FIREBASE_MESSAGING_SENDER_ID=549577693732
FIREBASE_APP_ID=1:549577693732:web:6e4f0301a3618f28f996b1
FIREBASE_CLOUD_FUNCTIONS_REGION=europe-west3
